@font-face {
  font-family: Roboto Cn;
  src: url(../fonts/roboto.ttf);
}

@font-face {
  font-family: Roboto Slab;
  src: url(../fonts/robotoslabbold.ttf);
}
@font-face {
  font-family: Arial Rounded MT;
  src: url(../fonts/ARLRDBD.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto.ttf);
}

@font-face {
  font-family: Myriad Pro;
  src: url(../fonts/Myriad.ttf);
}